.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.img {
  margin-bottom: 10px;
}

.new_game,
.join_game,
.logout {
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #F6DDCC;
  cursor: pointer;
  border: 1px solid #999;
  width: 170px;
  font-size: medium;
  border-radius: 4px;
  height: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}