.game {
  margin: 10px;
}

.game_board {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.points {
  margin-left: 20px;
}

.buttons {
  margin-bottom: 10px;
}


.start_button,
.back_to_menu,
.login_button,
.register_button {
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #F6DDCC;
  cursor: pointer;
  border: 1px solid #999;
  width: 170px;
  font-size: medium;
  border-radius: 4px;
  height: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}